<?xml version="1.0" encoding="UTF-8"?>
<!-- Config do Samsung Tizen (empacota .wgt). Precisa de icon.png + security
     profile (certificado de autor) na hora de empacotar/assinar. -->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://heroplay.com/tv" version="0.1.0" viewmodes="maximized">
  <tizen:application id="HeroPlayTV.HeroPlay" package="HeroPlayTV" required_version="6.0"/>
  <content src="index.html"/>
  <feature name="http://tizen.org/feature/screen.size.all"/>
  <icon src="icon.png"/>
  <name>Hero Play</name>
  <tizen:profile name="tv"/>
</widget>
